/*------------------------------------*\
    #Amplify: advanced styles for browsers selected by mustard cut
\*------------------------------------*/

/*------------------------------------*\
    #Settings
\*------------------------------------*/
@import "sass/00-settings/breakpoints";
@import "sass/00-settings/colors";
//@import "sass/00-settings/debug";
@import "sass/00-settings/typesetting";


/*------------------------------------*\
    #Functions
\*------------------------------------*/
@import "sass/10-functions/units";


/*------------------------------------*\
    #Mixins
\*------------------------------------*/
@import "sass/20-mixins/font-sizes";
@import "sass/20-mixins/media-query";
@import "sass/20-mixins/stack";


/*------------------------------------*\
    #Base

    Repeated to allow for extending placeholders
\*------------------------------------*/
@import "sass/30-base/hide-and-show";


/*------------------------------------*\
    #Advanced components

    For JS enhancements
\*------------------------------------*/
@import "sass/60-advanced-components/navigation";
@import "sass/60-advanced-components/cards";
@import "sass/60-advanced-components/collapsibles";
@import "sass/60-advanced-components/disclosure-widget";
@import "sass/60-advanced-components/sortable-tables";
//@import "sass/60-advanced-components/slider";

/*------------------------------------*\
    #Plugins

    Add third-party plugins here.
    Add custom styles directly after the original in a separate file
\*------------------------------------*/
@import "../../node_modules/accessible-autocomplete/src/autocomplete";
@import "sass/70-third-party-plugins/s24-accessible-autocomplete";
@import "../../node_modules/@splidejs/splide/src/css/core/index";
@import "sass/70-third-party-plugins/s24-splide-carousel";
@import "../../node_modules/tabbyjs/src/sass/tabby-ui";
@import "sass/70-third-party-plugins/s24-tabby-ui";