<div class="l-switcher">
    <div>
        {%- for key, item in params.items -%}
            <div>
                <div class="l-box">{{ item.text }}</div>
            </div>
        {%- endfor -%}
    </div>
</div>