{% extends cards.njk %}
{% block card %}
{% if params.type %}
    {% set cardType = " card--" + params.type %}
{% endif %}
{% block card %}
    <div class="card{{ cardType }}">
        <h2 class="card__heading">{{ card.heading }}</h2>
        {{ card.body | safe }}
    </div>
{% endblock %}
{% endblock %}