{% if params.type === "info" %}
<div class="l-box note note--info" role="status">
    <h2 class="txt-saturn">{{ params.title }}</h2>
    {{ params.message | safe }}
</div>
{% elif params.type === "success" %}
<div class="l-box note note--success" role="status">
    <h2 class="txt-saturn">{{ params.title }}</h2>
    {{ params.message | safe }}
</div>
{% elif params.type === "warning" %}
<div class="l-box note note--warning" role="status">
    <h2 class="txt-saturn">{{ params.title }}</h2>
    {{ params.message | safe }}
</div>
{% elif params.type === "error" %}
<div class="l-box note note--error" role="alert" tabindex="-1" data-component="error-summary">
    <h2 class="txt-saturn">{{ params.title }}</h2>
    {{ params.message | safe }}
</div>
{% endif %}