{%- macro field(params) -%}
<div class="field">
    {%- if params.label -%}
        <label for="{{ params.name }}">
            <span class="field-label">
                {{ params.label }}
                {%- if params.required -%}
                    <span class="required"> (Required)</span>
                {%- endif -%}
            </span>
        </label>
    {%- endif -%}
    {%- if params.hint -%}
        <div id="hint-{{ params.name }}" class="field-hint">{{ params.hint }}</div>
    {%- endif -%}
    {%- if params.type !== "textarea" -%}
        <input id="{{ params.name }}" 
        type=" 
        {%- if params.type === 'number-text' -%}
            text
        {%- else -%}
            {{ params.type }}
        {%- endif -%}
        " 
        name="{{ params.name | lower }}" 
        {%- if params.autocomplete -%}
            autocomplete="{{ params.name }}"
        {%- elif params.hint -%}
            aria-describedby="hint- {{ params.hint }}"
        {%- elif params.autocapitalize === "off" -%}
            autocapitalize="none"
        {%- elif params.autocorrect === "off" -%}
            autocorrect="off"
        {%- elif params.spellcheck === "off" -%}
            spellcheck="false"
        {%- elif params.inputmode -%}
            inputmode="{{ params.name }}"
        {%- elif params.maxlength -%}
            {%- if params.type === "number" or params.type === "number-text" -%}
            pattern="[0 - {{ params.maxlength + 1 }}]"
            {%- endif -%}
            maxlength="8"
        {%- elif params.initialValue -%}
            value="{{ params.initialValue }}"
        {%- elif params.additionalClass -%}
            class="{{ params.additionalClass }}"
        {%- endif -%}>
    {%- else -%}
        <textarea id="{{ params.name }}" name="{{ params.name }}"></textarea>
    {%- endif -%}
</div>
{%- endmacro -%}