/*------------------------------------*\
    #Cards
\*------------------------------------*/

.card {
	background-color: $off-white;
	border-radius: rem(4);
	box-shadow: -1px 1px 4px 0 rgba(55,70,95,0.12);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}


.card__text {
	@include stack(1rem);
	flex-grow: 1;
	order: 1;
	padding-top: 1rem;
}


/**
"Neat cards": for a row of cards of equal height and with the last item
(e.g. CTA or tag list) always pushed to the bottom edge.
 */
.card--neat {
	height: 100%;
}

.card--neat .card__text {
	// Minimum spacing between the penultimate and last child elements.
	// Matches the measure used for the stack mixin on `.card__text`
	> :nth-last-child(2) {
		margin-bottom: 1rem;
	}

	// Align the last child element to the bottom of the card.
	> :last-child {
		margin-top: auto;
	}
}


.card__text > a:not([class]) {
	align-self: flex-start;
	margin-top: rem(6);
	padding-bottom: rem(10);
	padding-top: rem(10);
}


.card__heading {
	@include text-25;
}


.card__link {
	border: 0;
	color: $off-black;
	text-decoration: none;

	&:hover {
		text-decoration: underline; /* 1 */
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
		text-decoration: none;
	}
}