/*------------------------------------*\
    #Collapsible sections
\*------------------------------------*/

.component--collapsibles,
[data-heading="collapsibles"] + * {
	@include stack(1rem);
}


[data-heading="collapsibles"] {
	@include text-20;
}


.component--collapsibles__panel {
	@include stack(1rem);
	background-color: $white;
	border-radius: rem(6);
	box-shadow: rem(-1) rem(1) rem(4) rgba(55, 70, 95, 0.12);
	padding: rem(25);
}

.component--collapsibles__panel__content {
	// Restrict line-length for readability
	> * {
		max-width: rem($text-measure);
	}
}