/*------------------------------------*\
    #Global footer
\*------------------------------------*/

.global-footer {
	grid-row-start: 2; // Needed for sticky footer
	grid-row-end: 3; // Needed for sticky footer
	padding: rem(20) 0 rem(25);

	.l-center {
		@include stack(1rem);
	}

	a,
	.copyright {
		@include text-14;
	}

	a {
		color: $off-black;

		&:visited,
		&:hover,
		&:active {
			color: $off-black;
		}

		&:focus {
			background-color: $focus-color;
			background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		}
	}
}