/*------------------------------------*\
    #Amplify guide

    Used purely for the static Amplify site
\*------------------------------------*/

.amplify .global-header {
	background-color: $off-black;
	color: $off-white;
	padding-bottom: rem(10);
	padding-top: rem(10);
}

.amplify .global-header__link {
	@include text-25;
	color: $off-white;
	padding-bottom: rem(5);
	padding-top: rem(5);
	text-decoration: none;

	&:hover,
	&:visited {
		color: $off-white;
	}

	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari
	}

	&:focus {
		background-color: $focus-color;
		color: $off-black;
	}
}


.amplify .global-nav {
	border-bottom: solid 2px $twiki-gray;
	padding-bottom: rem(10);
	padding-top: rem(10);
}

.amplify .global-nav__link {
	border-bottom: solid 4px transparent;
	color: $link-color;
	display: block;
	font-size: rem(18);
	font-weight: bold;
	padding: rem(5);
	text-decoration: none;

	&:hover,
	&:visited {
		color: $link-color;
	}

	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari
	}

	&:focus {
		background-clip: padding-box;
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
		text-decoration: none;
	}
}

.amplify .current .global-nav__link {
	border-bottom-color: $off-black;
	color: $off-black;

	&:hover {
		text-decoration: none;
	}
}


.amplify .nav-secondary__link {
	color: $link-color;
	display: inline-block;
	padding-bottom: rem(9);
	padding-top: rem(9);
	position: relative;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto; // Not supported by Safari
		text-underline-offset: 0.25em; // Supported by Safari
	}

	&:focus {
		background-color: $focus-color;
		background-image: linear-gradient(to top, $black 3px, $focus-color 3px, $focus-color);
		color: $black;
		text-decoration: none;
	}
}

.amplify .nav-secondary__link[aria-current] {
	color: $off-black;

	&::before {
		background-color: $off-black;
		content: '';
		height: 1.5rem;
		left: rem(-12);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 4px;
	}

	&:hover {
		text-decoration: none;
	}
}


.amplify .content-wrap {
	@include mq($bp-tab-landscape) {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 24% 10% 66%;
		-ms-grid-columns: 24% 10% 66%;
		grid-template-rows: 1fr;
		-ms-grid-rows: 1fr;
	}
}

.amplify .content-wrap > *:first-child {
	grid-column-start: 1;
	grid-column-end: 2;
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}

.amplify .content-wrap > *:last-child {
	grid-column-start: 3;
	grid-column-end:4;
	-ms-grid-column: 3;
	-ms-grid-row: 1;
	margin-top: rem(30);

	@include mq($bp-tab-landscape) {
		margin-top: 0;
	}
}


.amplify .example + .example {
	margin-top: 1rem;
}


.amplify .l-switcher.teasers {
	overflow: visible;
}

.amplify .l-switcher.teasers > * {
	margin: rem(-12);
}

.amplify .l-switcher.teasers > * > * {
	min-width: 33%;
	padding: rem(12);
}

.amplify .l-switcher.teasers .card {
	padding: rem(24);
}


.amplify .search-bar .not-sidebar {
	min-width: 70%;
}

// To omit the `flex-basis` in this example we haven't used the `.sidebar` class
// on this element. So we must manually re-apply the required `flex-grow` property.
.amplify .search-bar button {
	flex-grow: 1;
}


// Styles needed to make sure the responsive table contents will overflow for the example.
.amplify [data-component="table-wrap"] tr td:nth-child(1),
.amplify [data-component="table-wrap"] tr td:nth-child(2),
.amplify [data-component="table-wrap"] tr td:nth-child(3)
{
	min-width: 8.5em;
}

.amplify [data-component="table-wrap"] tr td:nth-child(4) {
	min-width: 11.5em;
}

.amplify [data-component="table-wrap"] tr td:nth-child(5) {
	min-width: 12.5em;
}