/*------------------------------------*\
    #Font sizes

    Base sizes use the Major Third scale from https://type-scale.com/
\*------------------------------------*/

@mixin text-48 {
	font-size: rem(48);
	line-height: 1.3;

	@include mq($bp-tab-landscape) {
		font-size: rem(64)
	}
}


@mixin text-39 {
	font-size: rem(39);
	line-height: 1.3;
}


@mixin text-31 {
	font-size: rem(31);
	line-height: 1.3;
}


@mixin text-25 {
	font-size: rem(25);
	line-height: 1.3;
}


@mixin text-20 {
	font-size: rem(20);
	line-height: 1.3;
}


@mixin text-16 {
	font-size: 1rem;
	line-height: 1.5;
}


@mixin text-14 {
	font-size: rem(14);
	line-height: 1.5;
}


@mixin lead {
	font-size: rem(31);
	line-height: 1.3;
}