/*------------------------------------*\
    #Media query
\*------------------------------------*/

@use "sass:math";

@mixin mq(
	$point,
	$query1: min,
	$query2: width,
	$context: $browser-context
) {
	@media screen and (#{$query1}-#{$query2}: math.div($point, $context) + em) {
		@content;
	}
}