/*------------------------------------*\
    #Navigation advanced

    Starting styles for all advanced navigation patterns.

    Should be accompanied by either /65-advanced-navigation/_nav-double or
    /65-advanced-navigation/_nav-double-with-intro depending on your requirements

    N.B. aria-expanded attribute is managed by JS
\*------------------------------------*/

.js .global-nav {
    // Make the <button> the target for click events, not any child elements - e.g. <svg>, <span>
    [data-trigger] > * {
        pointer-events: none;
    }

    [data-trigger="mobile-nav"] {
        > * {
            pointer-events: none;
        }

        .close {
            display: none;
        }

        .open {
            display: block;
        }

        &[aria-expanded="true"]{
            .close {
                display: block;
            }

            .open {
                display: none;
            }
        }
    }

    [aria-expanded="false"] + * {
        display: none;
    }

    > ul {
        background-color: $off-white;
        inline-size: 100%;
        inset-inline-start: 0;
        position: absolute;

        @include mq($bp-tab-portrait) {
            align-items: center;
            display: flex;
            inline-size: auto;
            position: static;
        }
    }

    > ul > li {
        @include mq($bp-tab-portrait) {
            position: relative;
        }
    }

    > ul > li + li {
        @include mq($bp-tab-portrait) {
            margin-inline-start: rem(5);
        }
    }

    [data-nav="submenu"] {
        background-color: $off-white;
        padding-inline-start: 0;

        @include mq($bp-tab-portrait) {
            inset-inline-start: 0;
            position: absolute;
        }
    }

    /* Prevent offscreen-submenus */
    [data-nav="submenu"].js-sub-menu-right {
        inset-inline: auto 0;
    }
}