/*------------------------------------*\
    #Forms - checkbox and radio inputs

    1. Windows High Contrast/forced-color modes tend to eliminate background-color and box-shadow.
    We retain an outline - even if it's transparent - to ensure an accessible focus indicator.
\*------------------------------------*/

.radio-item,
.checkbox-item {
    clear: left;
    float: left;
    margin-block-start: 0.25rem;
    padding-inline-start: rem(34);
    position: relative;

    &::after {
        clear: both;
        content: '';
        display: block;
    }
}


[dir="rtl"] {
    .radio-item,
    .checkbox-item {
        clear: right;
        float: right;
    }
}

.radio-item input,
.checkbox-item input {
    cursor: pointer;
    block-size: rem(44);
    inset-inline-start: rem(-10);
    margin: 0;
    opacity: 0;
    position: absolute;
    inset-block-start: rem(-2);
    inline-size: rem(44);
    z-index: 1;
}


.radio-item label,
.checkbox-item label {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    margin-block-start: rem(-2);
	padding-block-end: rem(6);
	padding-block-start: rem(6);
	padding-inline-end: rem(15);
	padding-inline-start: rem(1);
    touch-action: manipulation;

    &::before,
    &::after {
        content: '';
        position: absolute;
    }

    &::before {
        background: transparent;
        border: 2px solid $input-border-color;
        block-size: rem(24);
		inline-size: rem(24);
		inset-block-start: rem(8);
        inset-inline-start: 0;
    }
}


.radio-item label {
    &::before,
    &::after {
        border-radius: 50%;
    }

    &::after {
        background: currentColor;
        border: 5px solid;
        block-size: 0;
		inline-size: 0;
		inset-block-start: rem(15);
        inset-inline-start: rem(7);
        opacity: 0;
    }
}


.checkbox-item label {
    &::after {
        background: transparent;
		block-size: rem(6.5);
        border: solid;
        border-block-start-color: transparent;
        border-width: 0 0 3px 3px;
		inline-size: rem(12);
		inset-block-start: rem(15);
        inset-inline-start: rem(6);
        opacity: 0;
        transform: rotate(-45deg);
    }
}


.checkbox-group--cluster .checkbox-item {
    clear: none;
    margin-inline-end: rem(12);
}

// Radio/checkbox input with hover
.radio-item:hover input:not(:disabled) + label,
.checkbox-item:hover input:not(:disabled) + label {
    &::before {
        box-shadow: 0 0 0 4px $info-color;
    }
}


// Radio/checkbox input with focus
.radio-item input:focus + label,
.checkbox-item input:focus + label {
    &::before {
        box-shadow: 0 0 0 4px $black;
        outline: 2px solid $focus-color; /* 1 */
        outline-offset: 0; /* 1 */
    }
}


// Radio/checkbox input with focus and hover
.radio-item:hover input:focus + label,
.checkbox-item:hover input:focus + label {
    &::before {
        box-shadow: 0 0 0 4px $black;
        outline: 2px solid $focus-color; /* 1 */
        outline-offset: 0; /* 1 */
    }
}


// Radio/checkbox input checked
.radio-item input:checked + label,
.checkbox-item input:checked + label {
    &::after {
        opacity: 1;
    }
}


// Radio/checkbox input disabled
[type="radio"]:disabled,
[type="radio"]:disabled + label,
[type="checkbox"]:disabled,
[type="checkbox"]:disabled + label {
    cursor: default
}


[type="radio"]:disabled + label,
[type="checkbox"]:disabled + label {
    opacity: .5;
}