/*------------------------------------*\
    #Forms - checkbox and radio inputs

    Make sure to apply the `.amplify-form` class directly to the <form> to
    pick up these styles and try to avoid conflicts with third party form styles

    Wrap each checkbox/radio input and its label (plus any hint/error text) inside a <div>.

    1. Windows High Contrast/forced-color modes tend to eliminate background-color and box-shadow.
    We retain an outline - even if it's transparent - to ensure an accessible focus indicator.
\*------------------------------------*/

/* stylelint-disable no-descending-specificity */
.amplify-form {
    /* Select any <div> which contains a checkbox or radio input */
    div:has(> :where([type="checkbox"], [type="radio"])) {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        /* Reduce vertical space between adjacent checkbox/radio fields */
        + div:has(> :where([type="checkbox"], [type="radio"])) {
            margin-block-start: 0.5rem;
        }

        /* Use pointer cursor to increase visual affordance */
        input:not([disabled]),
        input:not([disabled]) + label {
            cursor: pointer;
        }

        input {
            block-size: 44px;
            inline-size: 44px;
            margin: 0;
            margin-inline-start: -10px;
            opacity: 0;
        }

        /* Disabled inputs - try to avoid using these to avoid accessibility issues */
        input[disabled] + label {
            cursor: not-allowed;

            &::before {
                background-color: $neutral-20;
            }
        }

        label {
            align-self: center;
            margin-block-end: 0;
            max-inline-size: calc(100% - 74px);
            padding-block: 7px;
            padding-inline: 15px;
            padding-inline-start: 1px;
            touch-action: manipulation;

            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            /* Shared styles for the checkbox square/radio circle */
            &::before {
                block-size: 24px;
                border: 2px solid $input-border-color;
                inline-size: 24px;
                inset-block-start: 10px;
                inset-inline-start: 0;
            }
        }

        [type="checkbox"] + label::before,
        [type="checkbox"] + label::after {
            background: transparent;
        }

        /* The checkbox "tick" */
        [type="checkbox"] + label::after {
            block-size: 6.5px;
            border: solid;
            border-block-start-color: transparent;
            border-width: 0 0 3px 3px;
            inline-size: 12px;
            inset-block-start: 17px;
            inset-inline-start: 6px;
            transform: rotate(-45deg);
        }

        [type="radio"] + label::before,
        [type="radio"] + label::after {
            border-radius: 50%;
        }

        /* The radio "dot" */
        [type="radio"] + label::after {
            background-color: currentcolor;
            block-size: 0;
            border: 5px solid;
            inline-size: 0;
            inset-block-start: 17px;
            inset-inline-start: 7px;
        }

        /* Checkbox/radio input when not checked */
        [type="checkbox"] + label::after,
        [type="radio"] + label::after {
            opacity: 0;
        }

        /* Checkbox/radio input when checked */
        [type="checkbox"]:checked + label::after,
        [type="radio"]:checked + label::after {
            opacity: 1;
        }

        /* The hint text, if used */
        .field-hint {
            inline-size: 100%;
            margin-block: 0;
            max-inline-size: none;
            padding-inline: 36px 15px;
        }

        /* Checkbox/radio input with focus */
        input:focus + label::before {
            box-shadow: 0 0 0 4px $black;
            outline: 2px solid $focus-color; /* 1 */
            outline-offset: 0; /* 1 */
        }
    }


    /* Checkbox/radio input with hover - add `.checkbox-item`/`.radio-item` class to parent <div> */
    :where(.checkbox-item, .radio-item):hover input:not([disabled]) + label::before {
        box-shadow: 0 0 0 4px $neutral-50;
    }


    /* Checkbox/radio input with focus and hover - add `.checkbox-item`/`.radio-item` class to parent <div> */
    :where(.radio-item, .checkbox-item):hover input:focus + label::before {
        box-shadow: 0 0 0 4px $black;
        outline: 2px solid $neutral-50; /* 1 */
        outline-offset: 0; /* 1 */
    }
}
/* stylelint-enable no-descending-specificity */