/*------------------------------------*\
    #Forms

    Make sure to apply the `.amplify-form` class directly to the <form> to
    pick up these styles and try to avoid conflicts with third party form styles
\*------------------------------------*/

.amplify-form {
    /**
    The default styles for fieldset and legend are weird, so we effectively hide the fieldset
    If you want a border etc. wrap the fieldset in a div with the class `.fieldset-wrap`
    */
    fieldset {
        border: 0;
        margin: 0;
        min-inline-size: 0;
        padding: 0;
    }

    .fieldset-wrap {
        border: solid 1px;
        padding: 0.5rem;
    }


    /* Set vertical spacing between direct children of a form or fieldset */
    > * + *,
    fieldset > * + * {
        margin-block-start: 1.75rem;
    }


    /* Double the vertical spacing around fieldset/.fieldset-wrap */
    fieldset:not(:first-child),
    fieldset + *,
    .fieldset-wrap:not(:first-child),
    .fieldset-wrap + * {
        margin-block-start: 3rem;
    }


    legend {
        @include text-22;

        font-weight: $emphasis;
    }





    /* A wrapper for an input and its label (but not checkboxes/radios, which have their own classes) */
    .field {
        max-inline-size: rem($text-measure);
    }


    label,
    .field-label,
    .field-hint,
    .field-error-msg,
    .faux-label {
        display: block;
    }

    label,
    .field-label,
    .faux-label {
        margin-block-end: 0.25rem;
    }

    label,
    .field-label,
    .group-legend {
        font-weight: $emphasis;
    }


    .field-hint {
        @include text-17;

        color: $neutral-70;
        margin-block: 0.25rem;
        max-inline-size: rem($text-measure);
    }

    .field-label + .field-hint,
    .group-legend + .field-hint {
        margin-block-start: 0.25rem;
    }


    :where(input:not([type="color"], [type="file"], [type="checkbox"], [type="radio"]), textarea) {
        appearance: none;
        background-color: inherit;
        border: 2px solid $input-border-color;
        border-radius: 0;
        inline-size: 100%;
        padding: rem(5);
    }


    /* Make input height match Amplify button height (defaults to equivalent of 44px for WCAG AAA */
    :where(input:not([type='checkbox'], [type='radio'])) {
        min-block-size: rem(44);
    }


    /* Limit max width of file input to prevent unwanted horizontal scrolling */
    [type="file"] {
        border-color: transparent;
        max-inline-size: 100%;
    }


    textarea {
        resize: vertical;
    }

    textarea:not([rows]) {
        min-height: 10em;
    }





    /* Disabled inputs - try to avoid using these to avoid accessibility issues */
    input[disabled] {
        background-color: $neutral-20;
    }

    input[disabled],
    label input[disabled] + * {
        cursor: not-allowed;
    }





    /* A wrapper to allow fields to sit side-by-side horizontally, if desired */
    .input-group {
        align-items: center;
        display: flex;
        gap: rem(30);
        margin-block-start: 0;
    }





    /* Fixed input widths */
    .input-width-30 {
        max-inline-size: 59ex;
    }

    .input-width-20 {
        max-inline-size: 41ex;
    }

    .input-width-10 {
        max-inline-size: 23ex;
    }

    .input-width-5 {
        max-inline-size: 10.8ex;
    }

    .input-width-4 {
        max-inline-size: 9ex;
    }

    .input-width-3 {
        max-inline-size: 7.2ex;
    }

    .input-width-2 {
        max-inline-size: 5.4ex;
    }





    /* Error styles */
    [data-component="error-summary"] li a {
        color: $error-color;
        display: inline-block;
        font-weight: bold;
        padding-block: rem(10);

        &:hover,
        &:visited {
            color: $error-color;
        }

    }

    .field--error {
        border-inline-start: solid rem(5) $error-color;
        padding-inline-start: rem(15);

        input:not([type="file"]),
        textarea:not(:focus) {
            border-color: $error-color;
        }

        input:focus,
        textarea:focus {
            border-color: $input-border-color;
        }
    }

    .field-error-msg {
        color: $error-color;
        font-weight: $emphasis;
        margin-block: rem(15) 0;
    }
}