/*------------------------------------*\
    #Forms
\*------------------------------------*/

/**
Start of resets for the fieldset element
https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
 */
fieldset {
	// If you want a border etc., apply this to a wrapping container for the fieldset
	border: 0;
	margin: 0;
	min-inline-size: 0;
	padding: 0;
	padding-block-start: 0.01em;
}


body:not(:-moz-handler-blocked) fieldset {
	display: table-cell; // Deal with fieldset width in Firefox
}
/**
End of resets for the fieldset element
 */


form > * + *,
fieldset > * + *,
.field-group > * + * {
	margin-block-start: 1.75rem;
}


.field-group + .field-group {
	margin-block-start: 2.5rem;
}


legend,
.field-group__heading {
	@include text-22;
	font-weight: $emphasis;
}


/**
Group inputs to line up side-by-side
 */
.input-group {
	display: flex;
	align-items: center;
}


.input-group > * + * {
	margin-inline-start: rem(30);
}


.field {
	max-inline-size: rem($text-measure);
}


label,
.field-label,
.field-hint,
.field-error-msg,
.faux-label {
	display: block;
}


.field-label,
.faux-label {
	margin-block-end: 0.25rem;
}


.field-label,
.group-legend {
	font-weight: bold;

	+ .field-hint {
		margin-block-start: 0.25rem;
	}

}


.field-hint {
	@include text-17;
	color: $neutral-70;
	margin-block-end: 0.25rem;
	max-inline-size: rem($text-measure);
}


input, optgroup, {
    line-height: 1.15;
}


textarea,
[type=date],
[type=email],
[type=file],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	appearance: none;
	background-color: $off-white;
	border: 2px solid $input-border-color;
	border-radius: 0;
	inline-size: 100%;
	line-height: 1.25;
	padding: rem(5);
}


[type=date],
[type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	block-size: rem(44); // To match button height
}


[type="file"] {
	border-color: transparent;
}


/**
Search
 */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}


/**
Textarea
 */
textarea {
	block-size: 10em;
	resize: vertical;
}


/**
Fixed input widths
 */
.input-width-30 {
	max-inline-size: 59ex;
}

.input-width-20 {
	max-inline-size: 41ex;
}

.input-width-10 {
	max-inline-size: 23ex;
}

.input-width-5 {
	max-inline-size: 10.8ex;
}

.input-width-4 {
	max-inline-size: 9ex;
}

.input-width-3 {
	max-inline-size: 7.2ex;
}

.input-width-2 {
	max-inline-size: 5.4ex;
}


/**
Error styles
 */
[data-component="error-summary"] li a {
	color: $error-color;
	display: inline-block;
	font-weight: bold;
	padding-block-end: rem(10);
	padding-block-start: rem(10);

	&:hover,
	&:visited {
		color: $error-color;
	}

}

.field--error {
	border-inline-start: solid rem(5) $error-color;
	padding-inline-start: rem(15);

	input:not([type="file"]),
	textarea:not(:focus) {
		border-color: $error-color;
	}

	input:focus,
	textarea:focus {
		border-color: $input-border-color;
	}
}

.field-error-msg {
	color: $error-color;
	font-weight: bold;
	margin-block-start: rem(15);
}