/*------------------------------------*\
    #Memorable dates (e.g. date of birth)
\*------------------------------------*/

.memorable-date {
    display: inline-block;
    margin-top: 0;
}

.memorable-date + .memorable-date {
    margin-left: 1rem;
}

[dir="rtl"] {
    .memorable-date + .memorable-date {
        margin-left: auto;
        margin-right: 1rem;
    }
}