/*------------------------------------*\
    #Memorable dates (e.g. date of birth)

    Make sure to apply the `.amplify-form` class directly to the <form> to
    pick up these styles and try to avoid conflicts with third party form styles
\*------------------------------------*/
@use '../20-tools' as *;

.amplify-form {
    .memorable-date {
        display: inline-block;
        margin-block-start: 0;
    }

    .memorable-date + .memorable-date {
        margin-inline-start: 1rem;
    }
}