/*------------------------------------*\
    #Forms - segmented options

    Can use either radio or checkbox inputs.
    The purpose is to show all available options outright,
    rather than hide them behind a <select>
\*------------------------------------*/

.segmented-group-wrapper {
    max-inline-size: none;
}

.segmented-group.l-switcher {
    margin-top: 0;

    > * > * {
        max-inline-size: 100%;
        min-width: 33.333%; // Modify the percentage according to the number of choices and what looks best
        position: relative; // Required for the absolutely positioned input indicator
    }

    label {
        border: 2px solid;
        cursor: pointer;
        display: block;
        margin: rem(2);

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &::before {
            background: transparent;
            height: rem(24);
            right: rem(10);
            top: rem(10);
            width: rem(24);
        }

        &::after {
            background: transparent;
            border: solid;
            border-top-color: transparent;
            border-width: 0 0 3px 3px;
            height: rem(6.5);
            right: rem(16);
            opacity: 0;
            top: rem(17);
            transform: rotate(-45deg);
            width: rem(12);
        }
    }

    input {
        cursor: pointer;
        height: rem(44);
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(44);
        z-index: 1;
    }

    .segmented-label {
        @include stack(.5em);
        display: block;
        padding: rem(10);
        padding-right: rem(44);

        span {
            display: block;
        }

        span:first-of-type {
            font-weight: bold;
        }
    }

    // Input with hover
    > * > *:hover label {
        background-color: $twiki-gray;
    }

    // Input with focus
    input:focus + label {
        border-color: $focus-color;
        box-shadow: inset 0 0 0 4px;
        outline: solid 2px $focus-color;
    }

    // Input checked
    input:checked + label {
        &::after {
            opacity: 1;
        }
    }
}

[dir="rtl"] {
    .segmented-group {
        label::before {
            left: rem(10);
            right: auto;
        }

        label::after {
            left: rem(16);
            right: auto;
        }

        input {
            left: 0;
            right: auto;
        }

        .segmented-label {
            padding: rem(10);
            padding-left: rem(44);
        }
    }
}