/*------------------------------------*\
    #Animation

    'scroll-shadow-inset' improves visual affordance of horizontally scrolling tables
\*------------------------------------*/

/*
 * Respect the choices of users who do not want animations.
 */
@media screen and (prefers-reduced-motion: reduce),
(update: slow) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0.001ms !important;
    }
}

@keyframes scroll-shadow-inset {
    /* start with inset shadow on right */
    from {
        box-shadow: inset -10px -10px 15px 0 rgb(0 0 0 / 30%);
    }

    /* end with inset shadow on left */
    to {
        box-shadow: inset 10px -10px 15px 0 rgb(0 0 0 / 30%);
    }
}