/*------------------------------------*\
    #Body

    1. Needed for sticky footer
    2. Because autoprefixer does not cover IE grid
\*------------------------------------*/

html {
	height: 100%;
}


/**
 Typographical styles for fonts are in 30-base/_typography.scss
 */
body {
	background-color: $off-white;
	color: $off-black;
	display: grid; /* 1 */
	display: -ms-grid; /* 2 */
	grid-template-columns: 100%;
	-ms-grid-columns: 100%; /* 2 */
	grid-template-rows: 1fr auto; /* 1 */
	-ms-grid-rows: 1fr auto; /* 2 */
	min-height: 100%;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}