/*------------------------------------*\
    #Body

    1. Prevent font size inflation with change of orientation
    2. Needed for sticky footer
    3. Equivalent `overflow-inline` logical property not currently well supported
\*------------------------------------*/

html {
	block-size: 100%;
    text-size-adjust: none; /* 1 */
}


/**
 Typographical styles for fonts are in 30-base/_typography.scss
 */
body {
	background-color: $off-white;
	color: $off-black;
	display: grid; /* 2 */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto; /* 2 */
	min-block-size: 100%;
	overflow-x: hidden; /* 3 */
}