/*------------------------------------*\
    #Body

    1. Needed for sticky footer
    2. Equivalent `overflow-inline` logical property not currently well supported
\*------------------------------------*/

/**
Typographical styles for fonts are in 30-base/_typography.scss
 */
body {
	background-color: $off-white;
	color: $off-black;
	display: grid; /* 1 */
	grid-template-columns: 100%;
	grid-template-rows: 1fr auto; /* 1 */
	overflow-x: hidden; /* 2 */
}