/*------------------------------------*\
    #Box-sizing resets

    1. Use a more intuitive box-sizing model
    2. Ensure elements use font styles as defined in Amplify
    3. Reset margins
    4. Avoid text overflows
\*------------------------------------*/

*, *::before, *::after {
    box-sizing: border-box; /* 1 */
    font: inherit; /* 2 */
    margin: 0; /* 3 */
    overflow-wrap: break-word; /* 4 */
}