/*------------------------------------*\
    #Flow elements
\*------------------------------------*/

abbr {
	text-decoration-skip: auto; // Supported by Safari
	text-decoration-skip-ink: auto; // Not supported by Safari
}


address {
    @include stack(1rem);
    margin: rem(16) 0; /* 1 */
    margin: clamp(0.5rem, calc(0.3rem + 1vw), 1rem) 0;

    > * {
        font-style: normal;
    }
}


dfn {
	font-style: normal;
	font-weight: $emphasis;
}


b,
strong,
.bold {
	font-weight: $emphasis;
}


em,
i {
	font-style: italic;
}


small,
.small,
.small-caps {
	@include text-17;
}


.small-caps {
	text-shadow: 0 0 0 $off-black;
	text-transform: uppercase;
}


hr {
    border: 0;
    border-block-start: 1px solid $neutral-30;
    block-size: 0;
    margin: rem(32) 0;
    overflow: visible;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    inset-block-end: -0.25em;
}

sup {
    inset-block-start: -0.5em;
}


pre {
	margin-block: rem(32);
    white-space: pre-wrap;
}


code,
kbd,
samp,
pre {
    font-family: $mono-family;
    hyphens: none;
    orphans: 3;
    page-break-before: avoid;
    text-transform: none;
    widows: 3;
}

code,
kbd,
samp {
    font-size: .8em;
}

samp kbd {
    font-size: 1em;
}

code,
kbd {
    padding-block: rem(2);
    padding-inline: rem(4);
}

code {
    background-color: $neutral-90;
    border-radius: rem(4);
    color: $neutral-10;
}

kbd {
    border: solid rem(1);
}

pre code {
    display: block;
    overflow-x: auto;
    padding: 1em;
    tab-size: 4;
    white-space: pre;
}