/*------------------------------------*\
    #Global focus styles incorporating a reset for :focus-visible

    1. If a link breaks over multiple lines, copy focus styles over all lines.
    See https://developer.mozilla.org/en-US/docs/Web/CSS/box-decoration-break
    2. Windows High Contrast/forced-color modes tend to eliminate background-color and box-shadow.
    We retain an outline - even if it's transparent - to ensure an accessible focus indicator.
\*------------------------------------*/

:focus {
    box-decoration-break: clone; /* 1 */
    -webkit-box-decoration-break: clone; /* 1 */
    box-shadow: 0 0 0 4px $black;
    outline: 2px solid $focus-color; /* 2 */
    outline-offset: 0; /* 2 */
    text-decoration: none;
}

/**
Unset focus styles (apart from transparent outline) where the browser wouldn't set a visible focus
 */
:focus:not(:focus-visible) {
    box-shadow: none;
    outline-color: transparent;
}


/**
Where focus is programmatically moved to a target element that is not interactive, we
suppress the focus styles. See https://github.com/twbs/bootstrap/issues/29875#issuecomment-582648069
 */
main:focus,
#main:focus,
[tabindex="-1"]:focus {
    box-shadow: none;
    outline: none;
}