/*------------------------------------*\
    #Forms
\*------------------------------------*/

/**
Start of resets for the fieldset element
https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
 */
fieldset {
	// If you want a border etc., apply this to a wrapping container for the fieldset
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0.01em 0 0 0;
}


body:not(:-moz-handler-blocked) fieldset {
	display: table-cell; // Deal with fieldset width in Firefox
}
/**
End of resets for the fieldset element
 */


form > * + *,
.field-group > * + * {
	margin-top: 1.75rem;
}


.field-group + .field-group {
	margin-top: 2.5rem;
}


.field-group__heading {
	@include text-20;
	font-weight: bold;
}


/**
Group inputs to line up side-by-side
 */
.input-group {
	display: flex;
	align-items: center;
}


.input-group > * + * {
	margin-left: rem(30);
}


[dir="rtl"] {
	.input-group > * + * {
		margin-left: 0;
		margin-right: rem(30);
	}
}


.field {
	max-width: rem($text-measure);
}


label,
.field-label,
.field-hint,
.field-error-msg,
.faux-label {
	display: block;
}


.field-label,
.faux-label {
	margin-bottom: 0.25rem;
}


.field-label,
.group-legend {
	font-weight: bold;

	+ .field-hint {
		margin-top: 0.25rem;
	}

}


.field-hint {
	@include text-14;
	color: $storm-gray;
	margin-bottom: 0.25rem;
	max-width: rem($text-measure);
}


.required {
	color: $storm-gray;
	font-weight: normal;
}


textarea,
[type=date],
[type=email],
[type=file],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	appearance: none;
	background-color: $off-white;
	border: 2px solid $input-border-color;
	border-radius: 0;
	line-height: 1.25;
	padding: rem(5);
	width: 100%;

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: solid 3px $focus-color;
		outline-offset: 0;
	}
}


[type=date],
[type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	height: rem(44); // To match button height
}


[type="file"] {
	border-color: transparent;

	&:focus {
		border-color: currentColor;
		box-shadow: inset 0 0 0 4px;
		margin-left: rem(-5);
		margin-right: rem(-5);
		outline: 3px solid $focus-color;
		padding-left: rem(5);
		padding-right: rem(5);
	}
}


/**
Search
 */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}


/**
Textarea
 */
textarea {
	height: 10em;
	resize: vertical;
}


/**
Memorable dates (e.g. date of birth)
 */
.memorable-date {
	display: inline-block;
	margin-top: 0;
}

.memorable-date + .memorable-date {
	margin-left: 1rem;
}

[dir="rtl"] {
	.memorable-date + .memorable-date {
		margin-left: auto;
		margin-right: 1rem;
	}
}


/**
Fixed input widths
 */
.input-width-30 {
	max-width: 59ex;
}


.input-width-20 {
	max-width: 41ex;
}


.input-width-10 {
	max-width: 23ex;
}


.input-width-5 {
	max-width: 10.8ex;
}


.input-width-4 {
	max-width: 9ex;
}


.input-width-3 {
	max-width: 7.2ex;
}


.input-width-2 {
	max-width: 5.4ex;
}


/**
Error styles
 */
[data-component="error-summary"] li a {
	color: $error-color;
	display: inline-block;
	font-weight: bold;
	padding-bottom: rem(10);
	padding-top: rem(10);

	&:hover,
	&:visited {
		color: $error-color;
	}

	&:focus {
		color: $off-black;
	}

}


.field--error {
	border-left: solid rem(5) $error-color;
	padding-left: rem(15);

	input:not([type="file"]),
	textarea:not(:focus) {
		border-color: $error-color;
	}

	input:focus,
	textarea:focus {
		border-color: inherit;
	}
}


[dir="rtl"] {
	.field--error {
		border-left: none;
		border-right: solid rem(5) $error-color;
		padding-left: 0;
		padding-right: rem(15);
	}
}


.field-error-msg {
	color: $error-color;
	font-weight: bold;
	margin-top: rem(15);
}