/*------------------------------------*\
    #Icons
\*------------------------------------*/

/**
Icons are sized relative to font size, thanks to the em unit.
 */
.icon {
	height: 0.75em;
	width: 0.75em;
}


.icon--24 {
	height: rem(24);
	width: rem(24);
}


/**
Use the `with-icon--before` or `with-icon--after` class
on the icon's parent if there is a need to specify the spacing
between text and icon. Pay attention to whether the icon comes
before the text or after.

2. Logical property creates spacing irrespective of text direction
 */
.with-icon--before,
.with-icon--after {
	align-items: center;
	display: inline-flex;

	.icon {
		flex: 0 0 auto; // Prevent icon from shrinking
	}
}


.with-icon--before {
	.icon {
		margin-inline-end: rem(10);
	}
}


.with-icon--after {
	.icon {
		margin-inline-start: rem(10);
	}
}