/*------------------------------------*\
    #Images
\*------------------------------------*/

img {
	display: block;
	max-inline-size: 100%;
}


svg {
	block-size: auto;
	fill: currentColor;
	inline-size: 100%;
}