/*------------------------------------*\
    #Images
\*------------------------------------*/

img {
	display: block;
	max-inline-size: 100%;
}


svg {
	fill: currentColor;
	height: auto;
	width: 100%;
}