/*------------------------------------*\
    #Lists
\*------------------------------------*/

ul,
ol {
	margin-bottom: rem(16);
	margin-top: rem(16);

	> * + *,
	li ul,
	li ol {
		margin-top: 0.75em;
	}
}


ul {
	padding-left: 2.4em;
}

[dir="rtl"] {
	ul {
		padding-left: 0;
		padding-right: 2.4em;
	}
}


ol {
	counter-reset: count;
	list-style-type: none;
	padding-left: 1.25em;

	> li {
		counter-increment: count;

		&::before {
			content: counters(count, ".") " ";
			padding-right: 0.5em;
		}
	}
}

[dir="rtl"] {
	ol {
		padding-left: 0;
		padding-right: 1.25em;

		> li::before {
			padding-left: 0.5em;
			padding-right: 0;
		}
	}
}


/**
List without bullets, numbers or indentation. Bear in mind that this
removes list semantics in some WebKit browsers. If it's important that
the number of items in a list is announced, add role="list" to the <ul>
 */
.clean-list {
	list-style: none;
	padding: 0;
}


/**
Description lists / Definition lists
 */
dl {
	margin-bottom: rem(16);
	margin-top: rem(16);

	dt {
		font-weight: bold;
	}

	dd + dt {
		margin-top: 0.5em;
	}

	dt + dd,
	dd + dd {
		margin-top: 0.25em;
	}
}


// With a grid layout for a more tabulated feel
dl.grid {
	@supports (grid-row-start: auto) {
		column-gap: 1rem;
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 6fr;
		-ms-grid-columns: 1fr 6fr;
		grid-template-rows: 1fr;
		-ms-grid-rows: 1fr;
		row-gap: 1rem;

		dd + dt,
		dt + dd,
		dd + dd {
			margin-top: 0;
		}

		dt {
			grid-column-start: 1;
			-ms-grid-column: 1;
			grid-column-end: 2;
			-ms-grid-column-span: 1;
		}

		dd {
			grid-column-start: 2;
			-ms-grid-column: 2;
			grid-column-end: 3;
			-ms-grid-column-span: 1;
		}
	}
}