/*------------------------------------*\
    #Media

    Resets for consistent base display
\*------------------------------------*/

audio, canvas, embed, iframe, img, object, picture, video {
    display: block;
}

audio, canvas, img, picture, svg, video {
    block-size: auto;
    max-inline-size: 100%;
}

iframe {
    border: 0;
}