/**
* Print stylesheet
* @version         1.2
* @lastmodified    06.01.2023

We aim to:
- Hide everything that is irrelevant for print
- Make everything black and white and easy to read

It is perfectly acceptable to use !important for print
styles as they should override everything else.

IMPORTANT: Anything that uses flexbox or grid on screen
and which needs to display correctly in print must be
refactored to use block or inline block layout. This can
be checked using the print preview in Chrome/Firefox:

https://css-tricks.com/can-you-view-print-stylesheets-applied-directly-in-the-browser/
*/

@page {
	/*
	Use PA4 (L4) transitional paper size, with a 2cm margin:
	https://en.wikipedia.org/wiki/Paper_size#Transitional_paper_sizes
	*/
	margin: 2cm;
	size: 21cm 28cm;
}


*,
*:before,
*:after,
blockquote:first-line,
li:first-line,
p:first-line {
	background: transparent !important;
	box-shadow: none !important;
	color: #000 !important;
	overflow: visible !important;
	text-shadow: none !important;
}


body {
	font: 12pt $font-loaded-family;
	line-height: 1.3;
}


body,
img {
	display: block !important;
}


img {
	block-size: auto !important;
	max-inline-size: 100% !important;
}


code,
pre {
	font-family: $mono-family;
}


a,
blockquote,
figure,
h1, h2, h3, h4, h5, h6,
img,
li,
pre,
table {
	break-inside: avoid;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}


blockquote,
figure {
	margin-inline: 0;
	padding-inline: 0;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: $emphasis;
	margin: 0;
}


h1 {
	font-size: 24pt;
	margin-block-start: 36pt;
}


h2 {
	font-size: 20pt;
	margin-block-start: 30pt;
}


h3 {
	font-size: 18pt;
	margin-block-start: 27pt;
}


h4 {
	font-size: 16pt;
	margin-block-start: 24pt;
}


h5 {
	font-size: 15pt;
	margin-block-start: 22pt;
}


h6 {
	font-size: 14pt;
	margin-block-start: 21pt;
}


h1, h2, h3, h4, h5, h6,
img {
	page-break-after: avoid;
}


dl,
ol,
ul {
	page-break-before: avoid;
}


ul:not([class]),
ol:not([class]),
.clean-list {
	> * + *,
	li ul,
	li ol {
		margin-block-start: 8pt;
	}
}


.clean-list {
	padding: 0;
}


ol:not([class]) {
	counter-reset: count;
	list-style-type: none;
	padding-inline-start: 15pt;

	> li {
		counter-increment: count;
		&::before {
			content: counters(count, ".") " ";
			padding-inline-end: 6pt;
		}
	}
}


a:link, a:visited, a {
	text-decoration: underline;
	text-decoration-skip: auto; // Supported by Safari
	text-decoration-skip-ink: auto; // Not supported by Safari
}


button {
	font-size: 12pt;
}


main a[href]::after,
footer a[href]::after {
	content: ' <' attr(href) '> ';
}


abbr[title]::after {
	content: ' (' attr(title) ')';
}


table {
	border-collapse: collapse;
	inline-size: 100%;
}


table,
th,
td {
	border: 1px solid;
}


th,
td,
table caption {
	padding: 9pt;
	text-align: start;
}


table caption {
	font-size: 14pt;
	font-weight: $emphasis;
	padding-inline: 0;
}


/*
Forms - comment out if not used
 */
form > * + *,
.field-group > * + *,
.radio-item + .radio-item,
.checkbox-item + .checkbox-item,
.segmented-group > * > * + * {
	margin-block-start: 8pt;
}


fieldset {
	border: 0;
	margin: 0;
	min-inline-size: 0;
	padding: 0;
	padding-block-start: 0.12pt;
}


.field {
	max-inline-size: 15cm;
}


.field > * {
	display: block;
}


.field-label,
.field-group__heading,
.group-legend {
	font-weight: bold;
}


select,
textarea,
[type=date],
[type=email],
[type=file],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid;
	border-radius: 0;
	line-height: 1.25;
	padding: 3.75pt;
	inline-size: 100%;
}


[type=file] {
	border: 0;
}


input,
optgroup,
select,
textarea {
	font-size: 12pt;
}


.memorable-date,
.input-group > * {
	display: inline-block;
	margin-block-start: 0;
}


.memorable-date .faux-label,
.input-group .faux-label {
	display: block;
}


.segmented-label span:first-of-type::after {
	content: ':';
}


.input-width-30 {
	max-inline-size: 59ex;
}


.input-width-20 {
	max-inline-size: 41ex;
}


.input-width-10 {
	max-inline-size: 23ex;
}


.input-width-5 {
	max-inline-size: 10.8ex;
}


.input-width-4 {
	max-inline-size: 9ex;
}


.input-width-3 {
	max-inline-size: 7.2ex;
}


.input-width-2 {
	max-inline-size: 5.4ex;
}


iframe {
	display: none;
	block-size: 0 !important;
	inline-size: 0 !important;
	line-height: 0pt !important;
	overflow: hidden !important;
	white-space: nowrap;
}

/*
Layouts
 */
.l-frame {
	padding: 0 !important;
}


.l-sidebar > * {
	display: block !important;
}


.l-cluster > * > * {
	display: inline-block;
	padding: 3pt;
}


.avatar {
	border-radius: 50%;
	block-size: 75pt;
	inline-size: 75pt;
	overflow: hidden !important;
	position: relative;

	img {
		block-size: 100%;
		margin-block-start: -8pt;
	}
}


.logo {
	display: block;
	inline-size: 2cm;
}


.component + .component {
	margin-block-start: 42pt;
}


.component--image,
.component--quote {
	margin-inline: auto;
	position: relative !important;
	inline-size: 70%;
}


.component--quote {
	border-inline-start: solid 4pt;
	padding-inline-start: 8pt;

	blockquote {
		font-size: 14pt;
		font-weight: $emphasis;
	}
}


.component--collapsibles {
	button {
		border: 0;
		display: block !important;
		text-align: left;
	}

	button > span {
		display: block;
	}

	[aria-hidden] {
		display: block !important;
	}

	.icon {
		display: none !important;
	}

	a {
		display: block;
		margin-block-end: 18pt;
		margin-block-start: -18pt;
		margin-inline: 0;
		visibility: hidden;
	}

	a[href]::after {
		content: ' <' attr(href) '> ';
		display: block;
		font-size: 12pt;
		visibility: visible;
	}
}


footer {
	margin-block-start: 36pt;
}

.skip-link,
#cookie-banner,
[role="status"],
[data-trigger],
[data-toggle],
nav,
.breadcrumbs,
.component--video,
.progress-list,
.autocomplete__wrapper svg,
.pagination,
.global-footer__links {
	display: none !important;
}