/*------------------------------------*\
    #Quotes

    1. Starting text-wrap style is optional and fine to override/remove as required by a design
\*------------------------------------*/

blockquote {
	@include text-25;

    margin-block: 2rem;
    max-inline-size: 60ch;
	padding: rem(10);
	position: relative;
    text-wrap: pretty; /* 1 */

	&::before {
		background-color: $neutral-50;
		block-size: 100%;
		content: "";
		inline-size: rem(3);
		inset-block-start: 0;
		inset-inline-start: rem(-3);
		position: absolute;
	}

    > *:first-child {
        margin-block-start: 0;
    }

    *:only-child {
        margin-block-end: 0;
    }

    footer {
        @include text-17;

        font-style: normal;
        font-weight: normal;
        margin-block-start: 1rem;
    }
}