/*------------------------------------*\
    #Quotes
\*------------------------------------*/

blockquote {
	@include text-25;
	margin-block: rem(16);
	margin-inline-start: rem(25);
	padding: rem(10);
	position: relative;

	&::before {
		background-color: $neutral-50;
		block-size: 100%;
		content: "";
		inline-size: rem(3);
		inset-block-start: 0;
		inset-inline-start: rem(-3);
		position: absolute;
	}

    > *:first-child {
        margin-block-start: 0;
    }

    cite {
        @include text-17;
        font-style: normal;
        font-weight: normal;
    }
}