/*------------------------------------*\
    #Skip link
\*------------------------------------*/

.skip-link.skip-link {
	@extend .visuallyhidden;
	background-color: $focus-color;
    box-shadow: inset 0 0 0 2px $black;
	color: $black;
	padding-block: em(10);
	padding-inline: em(15);
    position: absolute;
	text-decoration: none;
    z-index: 999;

	&:focus {
		inset-block-start: 2px;
		inset-inline-start: 2px;
	}
}