/*------------------------------------*\
    #Tables
\*------------------------------------*/

table {
    border: 1px solid $border-color;
    border-collapse: collapse;
	inline-size: 100%;
}


caption {
    border: 1px solid $border-color;
    border-block-end: 0;
}


caption,
th,
td {
    padding: 0.75rem;
    text-align: start;
}


th,
td {
    border: 1px solid $border-color;
    vertical-align: text-top;
}


th {
    font-weight: $emphasis;
}


/**
Responsive tables:
- https://adrianroselli.com/2020/11/under-engineered-responsive-tables.html
- https://daverupert.com/2023/08/animation-timeline-scroll-shadows/

 */
@media screen {
    [data-component="table-wrap"] {
        border: 1px solid $border-color;
        margin-block: rem(16);
        max-inline-size: 100% !important;

        &[role][tabindex] {
            animation: scroll-shadow-inset linear; /* 1 */
            animation-timeline: scroll( self inline ); /* 1 */
            overflow: auto;
        }

        table {
            border: 0;
            margin-block: 0;
        }

        caption {
            border-block-end: 1px solid $border-color;
            border-block-start: 0;
            border-inline: 0;
        }

        th,
        thead td,
        th[scope="row"] ~ td {
            border-block-start: 0;
        }

        tr :where(th:first-child, td:first-child) {
            border-inline-start: 0;
        }

        tr :where(th:last-child, td:last-child) {
            border-inline-end: 0;
        }

        tr:last-of-type th[scope="row"],
        tbody tr:last-of-type td {
            border-block-end: 0;
        }
    }
}