/*------------------------------------*\
    #Typography

    1. Fallback for browsers not supporting clamp().
    2. This generous line-height allows space for borders on the bottom of
    links but will need to be set explicitly on many elements.
\*------------------------------------*/

body {
    @include text-body;
	font-family: $font-family;
	font-style: $font-style;
	font-weight: $font-weight;
	line-height: 1.7; /* 2 */
}


p {
    margin: rem(16) 0; /* 1 */
    margin: clamp(0.5rem, calc(0.3rem + 1vw), 1rem) 0;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: $emphasis;
	margin: 0;
    margin-block-end: rem(16); /* 1 */
    margin-block-end: clamp(0.5rem, calc(0.3rem + 1vw), 1rem);
}

h2, h3, h4, h5, h6 {
    margin-block-start: rem(32);
}

h1,
.text-40 {
	@include text-40;
}

h2,
.text-36 {
    @include text-36;
}

h3,
.text-32 {
    @include text-32;
}

h4,
.text-28 {
    @include text-28;
}

h5,
.text-25 {
    @include text-25;
}

h6,
.text-22 {
    @include text-22;
}

.text-17 {
    @include text-17;
    margin-top: 1rem;
}


.lead {
    @include text-28;
    margin-block-end: rem(48); /* 1 */
    margin-block-end: clamp(2.5rem, calc(2.3rem + 1vw), 3rem);
}


/**
When Font Face Observer has detected that the @font-face files are loaded, then we
can safely use the web fonts instead of the system fonts.
 */
.fonts-loaded body {
	font-family: $font-loaded-family;
}