/*------------------------------------*\
    #Typography

    1. Equivalent to 16px browser default.
    2. This generous line-height allows space for borders on the bottom of
    links but will need to be set explicitly on many elements.
\*------------------------------------*/

body {
	font-family: $font-family;
	font-size: 1rem; /* 1 */
	font-style: $font-style;
	font-weight: $font-weight;
	line-height: 1.7; /* 2 */
}


p + * {
	margin-top: rem(16);
}


h1, h2, h3, h4, h5, h6 {
	font-weight: $emphasis;
	margin: 0;
}

h1,
.text-48 {
	@include text-48;

	+ * {
		margin-top: rem(24);
	}
}

h2,
.text-39 {
	@include text-39;

	+ * {
		margin-top: rem(8);
	}
}

h3,
.text-31 {
	@include text-31;

	+ * {
		margin-top: rem(8);
	}
}

h4,
.text-25 {
	@include text-25;

	+ * {
		margin-top: rem(8);
	}
}

h5,
.text-20 {
	@include text-20;

	+ * {
		margin-top: rem(4);
	}
}

h6,
.text-16 {
	@include text-16;

	+ * {
		margin-top: rem(4);
	}
}

.text-14 {
	@include text-14;
	margin-top: rem(16);
}


* + h2,
.text-39,
* + h3,
.text-31,
* + h4,
.text-25,
* + h5,
.text-20,
* + h6,
.text-16{
	margin-top: rem(24);
}


.lead {
	@include lead;

	+ * {
		margin-top: rem(48);
	}
}


/**
When Font Face Observer has detected that the @font-face files are loaded, then we
can safely use the web fonts instead of the system fonts.
 */
.fonts-loaded body {
	font-family: $font-loaded-family;
}