/*------------------------------------*\
    #Cards advanced
\*------------------------------------*/

.js [data-component="card"] {
	cursor: pointer;

	&:hover .card__link {
		text-decoration: underline; /* 1 */
		text-decoration-skip: auto; // Supported by Safari
		text-decoration-skip-ink: auto; // Not supported by Safari
	}
}