/*------------------------------------*\
    #Collapsible sections advanced
\*------------------------------------*/

.js .component--collapsibles__panel {
	padding: 0;
}


// Button added via JavaScript
.js [data-heading="collapsibles"] button {
	align-items: flex-start;
	flex-direction: column;
	inline-size: 100%;
	padding: rem(25);

	.js-collapsible-heading {
		@include text-22;
		font-weight: $emphasis;
		text-align: start;
	}


	.js-collapsible-toggle {
		color: $link-color;
	}


	.js-collapsible-label {
		@include text-17;
	}

	&:hover {
		.js-collapsible-heading {
			color: $link-color;
		}

		.js-collapsible-label {
			text-decoration: underline;
			text-decoration-skip: auto; // Supported by Safari
			text-decoration-skip-ink: auto; // Not supported by Safari
		}
	}

	&[aria-expanded="false"] {
		.circle-up {
			display: none;
		}
	}

	&[aria-expanded="true"] {
		.circle-down {
			display: none;
		}
	}
}


.js .component--collapsibles__panel__content {
	padding: rem(25);
	padding-block-start: 0;

	&[aria-hidden="true"] {
		display: none;
	}
}