/*------------------------------------*\
    #Navigation advanced

    N.B. aria-expanded attribute is managed by JS
\*------------------------------------*/

[data-trigger="mobile-nav"] {
    svg {
        pointer-events: none;
    }

    .close {
        display: none;
    }

    .open {
        display: block;
    }

    &[aria-expanded="true"]{
        .close {
            display: block;
        }
        .open {
            display: none;
        }
    }
}

.nav {
    [aria-expanded="false"] + * {
        display: none;
    }

    > ul {
        @include mq($bp-tab-portrait) {
            align-items: center;
            display: flex;
        }
    }

    ul ul {
        background-color: $off-white;
    }

    > ul > li + li {
        @include mq($bp-tab-portrait) {
            margin-left: rem(5);
        }
    }
}

[data-trigger="sub-nav"] {
    position: relative;
    justify-content: space-between;
    width: 100%;

    svg {
        pointer-events: none;
    }

    // Position the sub navigation
    + * {
        @include mq($bp-tab-portrait) {
            position: absolute;
        }
    }
}

/* Styles for simple double-level navigation */
#js-click-nav-vertical {
    [data-trigger="sub-nav"] .control-horizontal {
        display: none;
    }

    [data-trigger="sub-nav"][aria-expanded="true"] svg {
        transform: scaleY(-1);
    }
}

/* Styles for double-navigation with back button in sub menus */
#js-click-nav-horizontal {
    > ul {
        background-color: $off-white;
        left: 0;
        position: absolute;
        width: 100%;

        @include mq($bp-tab-portrait) {
            position: relative;
        }
    }

    [data-trigger="sub-nav"] .control-horizontal {
        @include mq($bp-tab-portrait) {
            display: none;
        }
    }

    [data-trigger="sub-nav"] .control-vertical {
        display: none;

        @include mq($bp-tab-portrait) {
            display: block;
        }
    }

    [data-trigger="sub-nav"][aria-expanded="true"] svg {
        @include mq($bp-tab-portrait) {
            transform: scaleY(-1);
        }
    }

    .js-nav__submenu {
        background-color: $off-white;
        min-height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 5;

        @include mq($bp-tab-portrait) {
            min-height: auto;
            top: auto;
            width: auto;
        }
    }

    [data-button="mobile-back"] {
        @include mq($bp-tab-portrait) {
            display: none;
        }
    }

    [data-button="mobile-back"] svg {
        transform: scaleX(-1);

        .control-vertical {
            display: none;
        }
    }
}