table[data-component="sortable-table"] {
  & .arrow-wrapper {
    margin-left: rem(12);
    display: flex;
    flex-direction: column;
  } 
}
table[data-component="sortable-table"] th[scope=col] {
  white-space: nowrap;
}

td.active {
  background-color: rgba(255, 255, 0, 0.15);
}

th > button {
  background: transparent;
  border: rem(1) solid transparent;
  min-width: fit-content;
  font-weight: bolder;
  &:hover {
    background-color: $focus-color;
    border-color: $focus-color;
    color: $black;
  }
}

th[data-type="no-sort"] {
  &:hover {
    cursor: not-allowed;
  }
}

th button .arrow-wrapper {
  pointer-events: none;
}

th[aria-sort="ascending"] button:focus > .arrow-wrapper {
  & .asc {
    stroke: black;
    stroke-width: rem(50);
  }
  & .desc {
    opacity: 0.2
  }
}

th[aria-sort="descending"] button:focus > .arrow-wrapper {
  & .asc {
    opacity: 0.3
  }
  & .desc {
    stroke: black;
    stroke-width: rem(50);
  }
}
