/*------------------------------------*\
    #Sortable table
\*------------------------------------*/

.js [data-component="sortable-table"] .arrow-wrapper {
	display: flex;
	flex-direction: column;
    inline-size: rem(15);
	margin-inline-start: rem(12);
	pointer-events: none;
}

.js [data-component="sortable-table"] th {
	white-space: nowrap;
}

.js th[data-type="no-sort"] {
	&:hover {
		cursor: not-allowed;
	}
}

th > button {
	background: transparent;
	border: solid rem(1) transparent;
	font-weight: bold;

	&:hover {
		background-color: $focus-color;
		border-color: $focus-color;
		color: $black;
	}
}

.js [aria-sort="ascending"] button:focus > .arrow-wrapper {
	.asc {
		stroke: currentColor;
		stroke-width: rem(50);
	}

	.desc {
		opacity: 0.3
	}
}

.js [aria-sort="descending"] button:focus > .arrow-wrapper {
	.asc {
		opacity: 0.3
	}

	.desc {
		stroke: currentColor;
		stroke-width: rem(50);
	}
}

col.js-sorted {
	background-color: $focus-color--rgba;
}