/*------------------------------------*\
    #Sortable table
\*------------------------------------*/

amplify-table-sort .arrow-wrapper {
	display: flex;
	flex-direction: column;
    inline-size: rem(15);
	margin-inline-start: rem(12);
	pointer-events: none;
}

amplify-table-sort th {
	white-space: nowrap;
}

amplify-table-sort th[data-type="no-sort"] {
	&:hover {
		cursor: not-allowed;
	}
}

amplify-table-sort th button svg {
    stroke: currentColor;
    stroke-width: rem(20);
}

amplify-table-sort [aria-sort="ascending"] button:focus > .arrow-wrapper {
	.asc {
		stroke-width: rem(50);
	}

	.desc {
		opacity: 0.3
	}
}

amplify-table-sort [aria-sort="descending"] button:focus > .arrow-wrapper {
	.asc {
		opacity: 0.3
	}

	.desc {
		stroke-width: rem(50);
	}
}

amplify-table-sort col.js-sorted {
	background-color: $focus-color--rgba;
}