/*------------------------------------*\
    #Box layout helper

    From https://absolutely.every-layout.dev/layouts/box/

    `.l-box` should have borders and/or padding on all sides, or
    none at all. Otherwise it's not a box, but something more specific.

    1. Forced colors mode (e.g. Windows High Contrast mode) may eliminate
    background-color. In this mode, if a box has no border the edges of the box
    may not be apparent. The transparent outline imitates a border, but it is
    only visible when in forced colors mode. The negative outline-offset moves
    the outline inside the perimeter of the box so it acts like a border and
    doesn't add to its overall size.
\*------------------------------------*/

.l-box {
    @include cssvars((
        box-padding: rem(24)
    ));
	border: solid 2px;
	display: block;
    padding: cssvar(box-padding);
}

.l-box--no-border {
	border: none;
	outline: 2px solid transparent; /* See note 1 above */
	outline-offset: -2px; /* See note 1 above */
}