/*------------------------------------*\
    #Box layout helper

    From https://absolutely.every-layout.dev/layouts/box/

    `.l-box` should have borders and/or padding on all sides, or
    none at all. Otherwise it's not a box, but something more specific.

    Forced colors mode (previously Windows High Contrast Mode)
    tends to eliminate background-color. If no border is set on the box,
    people using this mode won't see that there is a box. There are
    two options for managing this: either keep the border and make it the
    same colour as the box background, or remove the border and add a
    transparent outline with a negative outline-offset matching the
    outline width so that it behaves like a border and doesn't add to
    the overall size of the box.
\*------------------------------------*/
@use '../20-tools' as *;

.l-box {
    --_box-bg-clr: var(--box-bg-clr, transparent);
    --_box-border-clr: var(--box-border-clr, currentcolor);
    --_box-border-style: var(--box-border-style, solid);
    --_box-border-width: var(--box-border-width, 2px);
    --_box-radius: var(--box-radius, 0);
    --_box-padding: var(--box-padding, #{rem(20)});

	background-color: var(--_box-bg-clr);
    border: var(--_box-border-width) var(--_box-border-style) var(--_box-border-clr);
    border-radius: var(--_box-radius);
	display: block;
	padding: var(--_box-padding);
}