/*------------------------------------*\
    #Center layout helper

    From https://absolutely.every-layout.dev/layouts/center/

    `.l-center` creates a horizontally centered container.

    1. We use left and right padding to add some minimum space between the
    contents of `.l-center` and the edges of the parent element or viewport.
    To avoid making the content narrower than intended, we add an exception
    to our global box-sizing rule (defined in 30-base/_reset.scss).
\*------------------------------------*/

.l-center {
	box-sizing: content-box /* 1 */;
	margin-inline: auto;
	max-inline-size: rem($max-inline-size);
	padding-inline: 5vw;
}