/*------------------------------------*\
    #Cluster layout helper

    From https://absolutely.every-layout.dev/layouts/cluster/

    `.l-cluster` suits any groups of elements that differ in length and
    are liable to wrap. Use the Cluster to align any groups of horizontally
    laid out elements to the left or right, or in the center, with even
    spacing between elements.

    Note: There is no spacing in browsers that don't support the flexbox gap property.
\*------------------------------------*/

/**
We use flexbox to configure the elements into clusters without creating white space.
The gap property specifies the spacing. We can control how we align items within
the cluster by optionally using 'align-items` and/or `justify-content`.
 */
.l-cluster {
    @include cssvars((
        cluster-gap: rem(10)
    ));
    display: flex;
    flex-wrap: wrap;
    gap: cssvar(cluster-gap);
}