/*------------------------------------*\
    #Frame layout helper

    From https://absolutely.every-layout.dev/layouts/frame/

    `.l-frame` is most useful for cropping media (images
    and video) to a specific aspect ratio. It uses the modern
    CSS property `aspect-ratio` rather than the old padding hack.

    It is not recommended to apply the `.l-frame` class to the
    <figure> element, as it will interfere with the <figcaption>.
    Instead, place it on a <div> (or <picture>, if employing art
    direction to change not just image dimensions but also aspect
    ratio) inside of <figure>.

    See https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images#art_direction
    to learn more about when to use the <picture> element.
\*------------------------------------*/

.l-frame {
	display: block;
	overflow: hidden;
	position: relative;
}

.l-frame {
    @include cssvars((
        frame-x: 16,
        frame-y: 9,
    ));
    align-items: center;
    aspect-ratio: cssvar(frame-x) / cssvar(frame-y);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.l-frame > iframe,
.l-frame > img,
.l-frame > video {
	block-size: 100%;
	inline-size: 100%;
}

.l-frame > img,
.l-frame > video {
	object-fit: cover;
}