/*------------------------------------*\
    #Switcher layout helpers

    There are two types of switcher layout. Both types switch a
    Flexbox context between a horizontal and a vertical layout
    at a given, CONTAINER-BASED breakpoint, rather than using
    viewport media queries. Child elements are always of equal width.

    Use `.l-switcher` if you do not want any spacing between children.

	Use `.l-switcher-gap` if you do want spacing between children, which
	incorporates flexbox gap in the formula. Note: There is no spacing
	in browsers that don't support the flexbox gap property.

	1. The default value of 690 corresponds to the desired breakpoint value,
	while 100% corresponds to the width of the parent container.
	This calculation results in a value that's either bigger than
	the max-inline-size or smaller than the min-inline-size,
	so that either of these properties is applied instead.
	See https://www.freecodecamp.org/news/the-fab-four-technique-to-create-responsive-emails-without-media-queries-baf11fdfa848/

	2. Determines child width in the single column, vertical configuration

	3. Determines how many children in a row in the horizontal configuration
\*------------------------------------*/

/**
Switcher without spacing - make sure that the numbers used in the
switcher-breakpoint and temp variables always match.
 */
.l-switcher {
    @include cssvars((
        switcher-row-qty: 2,
        switcher-breakpoint: 690,
        temp: 690px
    ));
    display: flex;
    flex-flow: row wrap;
}

.l-switcher > * {
    inline-size: calc(#{cssvar(temp)} * cssvar(switcher-breakpoint) - 100% * cssvar(switcher-breakpoint)); /* See note 1 above */
    max-inline-size: 100%; /* See note 2 above */
    min-inline-size: calc(100% / #{cssvar(switcher-row-qty)}); /* See note 3 above */
}


/**
Switcher with spacing - make sure that the numbers used in the
switcher-breakpoint and temp variables always match.
 */
.l-switcher-gap {
    @include cssvars((
        switcher-row-qty: 2,
        switcher-gap-qty: 1,
        switcher-gap: rem(20),
        switcher-breakpoint: 690,
        temp: 690px
    ));
    display: flex;
    flex-flow: row wrap;
    gap: cssvar(switcher-gap);
}

.l-switcher-gap > * {
    inline-size: calc(#{cssvar(temp)} * cssvar(switcher-breakpoint) - 100% * cssvar(switcher-breakpoint)); /* See note 1 above */
    max-inline-size: 100%; /* See note 2 above */
    min-inline-size: calc( ( 100% - (#{cssvar(switcher-gap-qty)} * #{cssvar(switcher-gap)}) ) / #{cssvar(switcher-row-qty)} ); /* See note 3 above */
}