/*------------------------------------*\
    #Body
\*------------------------------------*/

html {
	height: 100%;
}


/**
 Typographical styles for fonts are in 30-base/_typography.scss
 */
body {
	background-color: $white;
	color: $off-black;
	min-height: 100%;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


/**
Styles needed for a sticky footer
 */
.grid-wrap {
	display: grid;
	grid-template-columns: 100%;
	-ms-grid-columns: 100%; // Because autoprefixer does not cover IE grid
	grid-template-rows: 1fr auto;
	-ms-grid-rows: 1fr auto; // Because autoprefixer does not cover IE grid
	min-height: 100vh;
}