/*------------------------------------*\
    #Box sizing
\*------------------------------------*/

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
	hyphens: auto;
	margin: 0;
	overflow-wrap: break-word;
	padding: 0;
}