/*------------------------------------*\
    #Forms
\*------------------------------------*/

/**
Start of resets for the fieldset element
https://thatemil.com/blog/2015/01/03/reset-your-fieldset/
 */
fieldset {
	// If you want a border etc., apply this to a wrapping container for the fieldset
	border: 0;
	margin: 0;
	min-width: 0;
	padding: 0.01em 0 0 0;
}


body:not(:-moz-handler-blocked) fieldset {
	display: table-cell; // Deal with fieldset width in Firefox
}
/**
End of resets for the fieldset element
 */


form > * + *,
.field-group > * + * {
	margin-top: 1.75rem;
}


.field-group + .field-group {
	margin-top: 2.5rem;
}


.field-group__heading {
	@include text-20;
	font-weight: bold;
}


/**
Group inputs to line up side-by-side
 */
.input-group {
	display: flex;
	align-items: center;
}


.input-group > * + * {
	margin-left: rem(30);
}


[dir="rtl"] {
	.input-group > * + * {
		margin-left: 0;
		margin-right: rem(30);
	}
}


.field {
	max-width: rem($text-measure);
}


label,
.field-label,
.field-hint,
.field-error-msg,
.faux-label {
	display: block;
}


.field-label,
.faux-label {
	margin-bottom: 0.25rem;
}


.field-label,
.group-legend {
	font-weight: bold;

	+ .field-hint {
		margin-top: 0.25rem;
	}

}


.field-hint {
	@include text-14;
	color: $storm-gray;
	margin-bottom: 0.25rem;
	max-width: rem($text-measure);
}


.required {
	color: $storm-gray;
	font-weight: normal;
}


textarea,
[type=date],
[type=email],
[type=file],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid;
	border-radius: 0;
	line-height: 1.25;
	padding: rem(5);
	width: 100%;

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: solid 3px $focus-color;
		outline-offset: 0;
	}
}


select,
[type=date],
[type=email],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url] {
	height: rem(44); // To match button height
}


[type="file"] {
	border-color: transparent;

	&:focus {
		border-color: currentColor;
		box-shadow: inset 0 0 0 4px;
		margin-left: rem(-5);
		margin-right: rem(-5);
		outline: 3px solid $focus-color;
		padding-left: rem(5);
		padding-right: rem(5);
	}
}


/**
Search
 */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}


/**
Select
 */
select {
	background-color: transparent;
	border: 2px solid;
	border-radius: 0;
	line-height: 1.25;
	padding: rem(5);
	width: 100%;

	&:focus {
		box-shadow: inset 0 0 0 2px;
		outline: solid 3px $focus-color;
		outline-offset: 0;
	}
}


/**
Textarea
 */
textarea {
	height: 10em;
	resize: vertical;
}


/**
Memorable dates (e.g. date of birth)
 */
.memorable-date {
	display: inline-block;
	margin-top: 0;
}

.memorable-date + .memorable-date {
	margin-left: 1rem;
}

[dir="rtl"] {
	.memorable-date + .memorable-date {
		margin-left: auto;
		margin-right: 1rem;
	}
}


/**
Radio/checkbox inputs
 */
.radio-item,
.checkbox-item {
	clear: left;
	float: left;
	margin-top: 0.25rem;
	padding-left: rem(34);
	position: relative;

	&::after {
		clear: both;
		content: '';
		display: block;
	}
}


[dir="rtl"] {
	.radio-item,
	.checkbox-item {
		clear: right;
		float: right;
		padding-left: 0;
		padding-right: rem(34);
	}
}


.radio-item input,
.checkbox-item input {
	cursor: pointer;
	height: rem(44);
	left: rem(-10);
	margin: 0;
	opacity: 0;
	position: absolute;
	top: rem(-2);
	width: rem(44);
	z-index: 1;
}


[dir="rtl"] {
	.radio-item input,
	.checkbox-item input {
		left: auto;
		right: rem(-10);
	}
}


.radio-item label,
.checkbox-item label {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0;
	margin-top: rem(-2);
	padding: rem(11) rem(15) rem(10) rem(1);
	touch-action: manipulation;

	&::before,
	&::after {
		content: '';
		position: absolute;
	}

	&::before {
		background: transparent;
		border: 2px solid;
		height: rem(24);
		left: 0;
		top: rem(8);
		width: rem(24);
	}
}


[dir="rtl"] {
	.radio-item label,
	.checkbox-item label {
		padding: rem(11) rem(1) rem(10) rem(15);

		&::before {
			left: auto;
			right: 0;
		}
	}
}


.radio-item label {
	&::before,
	&::after {
		border-radius: 50%;
	}

	&::after {
		background: currentColor;
		border: 5px solid;
		height: 0;
		left: rem(7);
		opacity: 0;
		top: rem(15);
		width: 0;
	}
}


[dir="rtl"] {
	.radio-item label::after {
		left: auto;
		right: rem(7);
	}
}


.checkbox-item label {
	&::after {
		background: transparent;
		border: solid;
		border-top-color: transparent;
		border-width: 0 0 3px 3px;
		height: rem(6.5);
		left: rem(6);
		opacity: 0;
		top: rem(15);
		transform: rotate(-45deg);
		width: rem(12);
	}
}


[dir="rtl"] {
	.checkbox-item label::after {
		left: auto;
		right: rem(6);
	}
}


.checkbox-group--cluster .checkbox-item {
	clear: none;
	margin-right: rem(12);
}


// Radio/checkbox input with hover
.radio-item:hover input:not(:disabled) + label,
.checkbox-item:hover input:not(:disabled) + label {
	&::before {
		box-shadow: 0 0 0 4px $blue;
	}
}


// Radio/checkbox input with focus
.radio-item input:focus + label,
.checkbox-item input:focus + label {
	&::before {
		border-width: 4px;
		box-shadow: 0 0 0 4px $focus-color;
	}
}


// Radio/checkbox input with focus and hover
.radio-item:hover input:focus + label,
.checkbox-item:hover input:focus + label {
	&::before {
		box-shadow: 0 0 0 4px $focus-color;
	}
}


// Radio/checkbox input checked
.radio-item input:checked + label,
.checkbox-item input:checked + label {
	&::after {
		opacity: 1;
	}
}


// Radio/checkbox input disabled
[type="radio"]:disabled,
[type="radio"]:disabled + label,
[type="checkbox"]:disabled,
[type="checkbox"]:disabled + label {
	cursor: default
}


[type="radio"]:disabled + label,
[type="checkbox"]:disabled + label {
	opacity: .5;
}


/**
Segmented options. Can use either radio or checkbox inputs. The purpose is to
show all available options outright, rather than hide them behind a <select>
 */
.segmented-group-wrapper {
	max-width: none;
}

.segmented-group.l-switcher {
	margin-top: 0;

	> * > * {
		max-width: 100%;
		min-width: 33.333%; // Modify the percentage according to the number of choices and what looks best
		position: relative; // Required for the absolutely positioned input indicator
	}

	label {
		border: 2px solid;
		cursor: pointer;
		display: block;
		margin: rem(2);

		&:before,
		&:after {
			content: '';
			position: absolute;
		}

		&::before {
			background: transparent;
			height: rem(24);
			right: rem(10);
			top: rem(10);
			width: rem(24);
		}

		&::after {
			background: transparent;
			border: solid;
			border-top-color: transparent;
			border-width: 0 0 3px 3px;
			height: rem(6.5);
			right: rem(16);
			opacity: 0;
			top: rem(17);
			transform: rotate(-45deg);
			width: rem(12);
		}
	}

	input {
		cursor: pointer;
		height: rem(44);
		margin: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: rem(44);
		z-index: 1;
	}

	.segmented-label {
		@include stack(.5em);
		display: block;
		padding: rem(10);
		padding-right: rem(44);

		span {
			display: block;
		}

		span:first-of-type {
			font-weight: bold;
		}

	}

	// Input with hover
	> * > *:hover label {

		background-color: $blue;

	}

	// Input with focus
	input:focus + label {

		border-color: $focus-color;
		box-shadow: inset 0 0 0 4px;
		outline: solid 2px $focus-color;

	}

	// Input checked
	input:checked + label {
		&::after {
			opacity: 1;
		}
	}
}

[dir="rtl"] {
	.segmented-group {
		label::before {
			left: rem(10);
			right: auto;
		}

		label::after {
			left: rem(16);
			right: auto;
		}

		input {
			left: 0;
			right: auto;
		}

		.segmented-label {
			padding: rem(10);
			padding-left: rem(44);
		}
	}
}


/**
Fixed input widths
 */
.input-width-30 {
	max-width: 59ex;
}


.input-width-20 {
	max-width: 41ex;
}


.input-width-10 {
	max-width: 23ex;
}


.input-width-5 {
	max-width: 10.8ex;
}


.input-width-4 {
	max-width: 9ex;
}


.input-width-3 {
	max-width: 7.2ex;
}


.input-width-2 {
	max-width: 5.4ex;
}


/**
Error styles
 */
[data-component="error-summary"] li a {
	color: $error-color;
	display: inline-block;
	font-weight: bold;
	padding-bottom: rem(10);
	padding-top: rem(10);

	&:hover,
	&:visited {
		color: $error-color;
	}

	&:focus {
		color: $black;
	}

}


.field--error {
	border-left: solid rem(5) $error-color;
	padding-left: rem(15);

	input:not([type="file"]),
	textarea:not(:focus),
	.segmented-group label {
		border-color: $error-color;
	}

	input:focus,
	textarea:focus {
		border-color: inherit;
	}
}


[dir="rtl"] {
	.field--error {
		border-left: none;
		border-right: solid rem(5) $error-color;
		padding-left: 0;
		padding-right: rem(15);
	}
}


.field-error-msg {
	color: $error-color;
	font-weight: bold;
	margin-top: rem(15);
}