/*------------------------------------*\
    #Font sizes

    Base sizes use the Major Third scale from https://type-scale.com/
\*------------------------------------*/

@mixin text-48 {
	font-size: 3.052rem;
}

@mixin text-39 {
	font-size: 2.441rem;
}

@mixin text-31 {
	font-size: 1.953rem;
}

@mixin text-25 {
	font-size: 1.563rem;
}

@mixin text-20 {
	font-size: 1.25rem;
}

@mixin text-16 {
	font-size: 1rem;
}

@mixin text-14 {
	font-size: 0.875rem;
}