/*------------------------------------*\
    #Breadcrumbs
    See: https://scottaohara.github.io/a11y_breadcrumbs/
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.breadcrumbs {
	padding-block: rem(10) rem(15);

	.l-cluster > * {
		margin: 0;
	}

	.l-cluster > * > * {
		margin-block: 0;
		margin-inline: 0;
		padding-inline: 0 2em;
		position: relative;
	}
}


// Reset base <ol> styles
.breadcrumbs ol ::marker {
	content: ''!important;
}


.breadcrumbs a {
	color: $off-black;
	display: block;
	padding-block: rem(5);

	&:visited,
	&:hover,
	&:active {
		color: $off-black;
	}
}


.breadcrumbs [aria-current] {
	font-weight: $emphasis;
	text-decoration: none;

	&:focus {
		outline-color: $off-black;
	}
}


/**
Separator chevron - see https://codepen.io/jonneal/pen/kptBs
*/
.breadcrumbs li:not(:last-child) {
	&::after {
		block-size: 0.5em;
		border-block-end-width: 0;
		border-block-start-width: 0.1em;
		border-inline-end-width: 0.1em;
		border-inline-start-width: 0;
		border-style: solid;
		content: '';
		display: block;
		inline-size: 0.5em;
		inset-block-start: 50%;
		inset-inline-end: 1.25em;
		position: absolute;
		transform: rotate(45deg) translateY(-50%);
	}
}


[dir="rtl"] {
	.breadcrumbs li:not(:last-child) {
		&::after {
			transform: rotate(-45deg) translateY(-50%);
		}
	}
}