/*------------------------------------*\
    #Collapsible sections

    1. Restrict line-length for readability
\*------------------------------------*/

.component--collapsibles {
	@include stack;
}


[data-heading="collapsibles"] {
	@include text-22;
    margin: 0;
}


.component--collapsibles__panel {
	background-color: $off-white;
	border-radius: rem(6);
	box-shadow: rem(-1) rem(1) rem(4) rgba(55, 70, 95, 0.12);
	padding: rem(25);
}

.component--collapsibles__panel__content > * {
    max-inline-size: rem($text-measure); /* 1 */
}