/*------------------------------------*\
    #Image component
\*------------------------------------*/

.component--image {
	@include stack;

	figcaption {
		@include text-14;
		@include stack;

		> * {
			max-inline-size: rem(540);
		}

		> a {
			align-self: flex-start;
			display: inline-block;
			margin: 0;
			padding-bottom: rem(10);
			padding-top: rem(10);
		}
	}
}