/*------------------------------------*\
    #Main

    It is recommended to namespace the id used on `<main>` for your project and
    remember to use it in the `href` for the "Skip to main content" link. This
    helps distinguish from any use of `<main>` inside iframe embeds.

    1. We use left and right padding to add some minimum space between the
    contents of `<main>` and the edges of the parent element or viewport.
    To avoid making the content narrower than intended, we add an exception
    to our global box-sizing rule (defined in 30-base/_amplify-reset.scss).
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

#amplify-main {
    --_main-block-space: var(--main-block-space, #{rem(40)});

    @include mq($bp-lap) {
        --main-block-space: #{rem(60)} #{rem(80)};
    }

    & {
        box-sizing: content-box /* 1 */;
        margin-inline: auto;
        max-inline-size: rem($max-inline-size);
        padding-block: var(--_main-block-space);
        padding-inline: rem(20);
    }
}


.component + .component {
	margin-block-start: rem(24);

	@include mq($bp-tab-portrait) {
		margin-block-start: rem(48);
	}
}