/*------------------------------------*\
    #Navigation core
\*------------------------------------*/

.nav ul,
.nav ul * + * {
    margin: 0;
}

a.nav-link {
    display: block;
    line-height: normal;
    padding: rem(11) rem(12);
}
