/*------------------------------------*\
    #Navigation core
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

nav ul,
nav ul * + * {
    margin: 0;
}

[data-nav="submenu"] {
    padding-inline-start: rem(20);
}

.global-nav a {
    color: $link-color;
    display: block;
    line-height: normal;
    padding: rem(9) rem(14);

    &:hover {
        color: $link-color--hover;
        outline-width: 0; /* 2 */
    }

    &:active {
        color: $off-black;
        outline-width: 0; /* 2 */
    }
}
