/*------------------------------------*\
    #Notes
\*------------------------------------*/

.note {
    background-position: rem(24) rem(24);
    background-repeat: no-repeat;
    background-size: rem(32);
    border: solid 1px;
    border-inline-start-width: 4px;
    padding: rem(24);
    padding-inline-start: rem(72);

	> * {
		max-inline-size: rem($text-measure);

        &:first-child {
            margin-block-start: 0;
        }

        &:last-child,
        li:last-child {
            margin-block-end: 0;
        }
	}
}


.note--error {
    background-color: $error-bg-color;
    background-image: url(../svg/note-bg-error.svg);
    border-color: $error-border-color;
    color: $error-color;
}


.note--info {
    background-color: $info-bg-color;
    background-image: url(../svg/note-bg-info.svg);
    border-color: $info-border-color;
    color: $info-color;
}


.note--success {
    background-color: $success-bg-color;
    background-image: url(../svg/note-bg-success.svg);
    border-color: $success-border-color;
    color: $success-color;
}


.note--warning {
    background-color: $warning-bg-color;
    background-image: url(../svg/note-bg-warning.svg);
    border-color: $warning-border-color;
    color: $warning-color;
}