/*------------------------------------*\
    #Pagination
\*------------------------------------*/

.pagination {
	margin-block-start: rem(40);
}


.l-cluster.pagination > * {
	margin-block: 0;
}


.l-cluster.pagination > * > * {
	margin-block: 0;
}


.pagination__list {
	a {
		@include text-17;
		color: $black;
		display: block;
		text-decoration: none;
		padding-block: rem(11);
		padding-inline: rem(18);

		&:visited {
			color: $black;
		}
	}

	a[href]:hover {
		text-decoration: underline;
		text-decoration-skip: auto; // Supported by Safari
		text-decoration-skip-ink: auto; // Not supported by Safari
	}

	a[href][aria-current] {
		background-color: $link-color;
		color: $off-white;
		font-weight: bold;

		&:hover {
			color: $off-white;
			text-decoration: none;
		}
	}
}

