/*------------------------------------*\
    #Progress bar

    Typically used on multi-step forms
\*------------------------------------*/

.progress-list {
	margin-block-end: rem(30);

	@include mq($bp-tab-portrait) {
		display: flex;
		flex-wrap: wrap;
	}
}


// Reset base <ol> styles
.progress-list ::marker {
	content: ''!important;
}


.progress-list li {
	position: relative;

	&::after {
		background-color: $neutral-70;
		block-size: rem(13);
		inline-size: rem(3);
		inset-block-end: rem(-16);
		content:'';
		inset-inline-start: rem(19);
		position: absolute;

		@include mq($bp-tab-portrait) {
			block-size: rem(3);
			inline-size: 100%;
			inset-block-end: auto;
			inset-block-start: rem(32);
			inset-inline-start: 50%;
			z-index: -1;
		}
	}

	+ li {
		margin-block-start: rem(20);

		@include mq($bp-tab-portrait) {
			margin-block-start: 0;
		}
	}
}


.progress-list li.complete {
	&::after {
		background-color: $info-color;
	}
}


.progress-list li:last-child {
	&::after {
		display: none;
	}
}


.progress-step__inner {
	align-items: center;
	display: flex;

	@include mq($bp-tab-portrait) {
		flex-direction: column;
		padding-block-start: rem(10);
		text-align: center;
	}

	> span {
		@include text-17;
		padding: rem(10);

		@include mq($bp-tab-portrait) {
			inline-size: rem(150);
		}
	}
}


.progress-step__marker {
	align-items: center;
	background-color: $off-white;
	block-size: rem(44);
	border: solid 3px $neutral-70;
	border-radius: 50%;
	display: flex;
	inline-size: rem(44);
	justify-content: center;

	@include mq($bp-tab-portrait) {
		box-shadow: 0 0 0 rem(10) $off-white;
	}
}


.progress-step__marker.complete {
	background-color: $info-color;
	border-color: $info-color;
	color: $off-white;
	position: relative;

	&::before,
	&::after {
		background-color: $info-color;
		content: '';
		position: absolute;
	}

	&::before {
		border-radius: 50%;
		block-size: rem(38);
		inline-size: rem(38);
		inset-block-start: 0;
		inset-inline-start: 0;
	}

	&::after {
		block-size: rem(9);
		border: solid;
		border-block-start-color: transparent;
		border-width: 0 0 3px 3px;
		inline-size: rem(18);
		inset-block-start: rem(13);
		inset-inline-start: rem(10);
		transform: rotate(-45deg);
	}
}


.progress-list a {
	color: $neutral-70;
	text-decoration-skip: auto; // Supported by Safari
	text-decoration-skip-ink: auto; // Not supported by Safari

	&:visited {
		color: $link-color--visited;
	}

	&:hover {
		color: $link-color--hover;
	}

	&:active {
		color: $black;
	}
}