/*------------------------------------*\
    #Quotes
\*------------------------------------*/

.component--quote {
	margin-inline-start: 0;
	padding: rem(20);
	padding-inline-start: rem(30);
	position: relative;

	&::before {
		background-color: $brand-60;
		block-size: 100%;
		border-radius: rem(5);
		content: '';
		inline-size: rem(10);
		inset-block-start: 0;
		inset-inline-start: 0;
		position: absolute;
	}

	> *:not(footer) {
		color: $brand-60;
		font-weight: bold;
	}

	footer {
		font-size: 1rem;
		font-style: normal;
	}
}