/*------------------------------------*\
    #Quotes
\*------------------------------------*/

.component--quote {
	@include stack(1rem);
	margin-inline-start: rem(10);
	padding: rem(20);
	position: relative;

	&::before {
		background-color: $blue;
		block-size: 100%;
		border-radius: rem(5);
		content: '';
		inline-size: rem(10);
		inset-inline-start: rem(-10);
		position: absolute;
		inset-block-start: 0;
	}

	blockquote {
		color: $blue;
		margin: 0;
		padding: 0;
	}
}