/*------------------------------------*\
    #Shelves
    (Used for organising groups of cards, etc.)
\*------------------------------------*/

.component--shelves {
	overflow: hidden;
}


.component--shelves__intro {
	@include stack(1rem);
	margin-block-end: rem(30);
	max-inline-size: rem($text-measure);
}


.component--shelves__items {
	@include mq($bp-tab-portrait) {
		display: flex;
		flex-wrap: wrap;
		margin: -1.5%;
	}
}


.component--shelves__items > li {
	@include mq($bp-tab-portrait) {
		flex: 1 0 33%;
		max-inline-size: 50%;
		padding: 1.5%;
	}
}


.component--shelves__items > * + * {
	margin-block-start: rem(20);

	@include mq($bp-tab-portrait) {
		margin-block-start: 0;
	}
}