/*------------------------------------*\
    #Video component
\*------------------------------------*/

.component--video {

	figcaption {
		@include text-17;
		margin-block-start: 1em;

		> * {
            margin-block-start: 0;
			max-inline-size: rem(540);
		}

		> a {
			display: inline-block;
			margin: 0;
			padding-block: rem(10);
		}
	}
}